name: Mirror to Codeberg and GitLab
permissions:
  contents: read

on:
  push:
    branches: [main]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0

      - name: Mirror to GitLab
        uses: yesolutions/mirror-action@662fce0eced8996f64d7fa264d76cddd84827f33
        with:
          REMOTE: 'ssh://git@gitlab.com:ffflorian/ffflorian.git'
          GIT_SSH_PRIVATE_KEY: ${{ secrets.GITLAB_SECRET }}

      - name: Mirror to Codeberg
        uses: yesolutions/mirror-action@662fce0eced8996f64d7fa264d76cddd84827f33
        with:
          REMOTE: 'ssh://git@codeberg.org:ffflorian/ffflorian.git'
          GIT_SSH_PRIVATE_KEY: ${{ secrets.CODEBERG_SECRET }}
